@use './ui-kit/colors' as *;

.navigation {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    row-gap: 25px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba($blue, 0.1);
}

.navigation-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}

.navigation-link {
    font-size: 1rem;
    color: $light-grey;
    font-weight: 500;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $grey;
    }
}

.search {
    margin-left: 17%;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.search-field {
    display: inline-block;
    border-bottom: 1px solid hsl(0, 0%, 88%);
    padding: 18px 0px;
    transition: border-bottom-color 0.2s;
    width: 180px;

    img {
        width: 1rem;
        margin-right: 8px;
        vertical-align: middle;
    }

    input {
        background: transparent;
        font-size: 0.95rem;
        color: $grey;
        width: 80%;

        &::placeholder {
            color: $light-grey;
        }
    }

    &:has(input:focus) {
        border-bottom-color: $blue;
    }
}


@media (min-width: 1800px) {
    .search-field {
        input {
            font-size: 1.2rem;
        }

        img {
            width: 1.3rem;
        }
    }

    .navigation-link {
        font-size: 1.3rem;
    }
}

@media (max-width: 1080px) {
    .search {
        margin-left: 16px;
    }
}

@media (max-width: 450px) {
    .search {
        margin-left: 0px;
    }
}